/*
 * CSS for a Class Calendar object
 */

::root {
  var-cardinal: #8c1515;
}

.calendar-container {
  height: 300px;
  width: 400px;
  border: 5px solid var(cardinal);
  border-radius: 3px;
}

.calendar-container table {
  border-spacing: 0px;
}

.calendar-container table th,
.calendar-container table td {
  width: 80px;
}

.calendar-hour-row td {
  border: 1px solid #888;
  height: 20px;
  width: 60px;
  background-color: yellow;
}

.calendar-hour-row td.calendar-first-column {
  border-left: 0px;
}

.calendar-hour-row td.calendar-last-column {
  border-right: 0px;
}
