/*
 * CSS for a Class Calendar object
 */

.calendar-container {
  height: 275px;
  width: 400px;
  border: 5px solid #8c1515;
  border-radius: 3px;
  font-family: "HelveticaNeue-Light",
               "Helvetica Neue Light",
               "Helvetica Neue",
                Helvetica, Arial,
               "Lucida Grande",
                sans-serif; 
  font-weight: 300;
  position: relative;
}

.calendar-container table {
  border-spacing: 0px;
}

.calendar-container th,
.calendar-container td {
  text-align: center;
  width: 74px;
}

.calendar-container th {
  height: 24px;
}

.calendar-container td {
  height: 22px;
}

.calendar-container .calendar-hour-num {
  width: 30px;
}

.calendar-hour-row td {
  border-top: 1px solid #888;
}
