/*
 * CSS for a Class Calendar object
 */

.calendar-view-container {
  height: 275px;
  width: -webkit-calc(100% - 10px);
  width: -moz-calc(100% - 10px);
  border: 5px solid #8c1515;
  border-radius: 3px;
  position: relative;
}

.calendar-view-container table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0px;
}

.calendar-view-container .calendar-view-hour-num {
  width: 30px;
}

.calendar-view-container th,
.calendar-view-container td {
  text-align: center;
}

.calendar-view-container th {
  height: 24px;
}

.calendar-view-container td {
  height: 22px;
}

.calendar-view-hour-row td {
  border-top: 1px solid #888;
}
