/*
 * CSS for a Class Calendar object
 */

.calendar-view-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid #8c1515;
  border-radius: 3px;
}

.calendar-view-container table {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  border-spacing: 0px;
}

.calendar-view-hour-num {
  width: 10%;
  font-size: 100%;
}

.calendar-view.container tr {
  height: 7.14%;
}

.calendar-view-container th,
.calendar-view-container td {
  text-align: center;
}

.calendar-view-hour-row td {
  border-top: 1px solid #888;
}
