/*
 * Style for the course popup.
 */

.course-info-popup {
  position: absolute;
  background-color: #ddd;
  border: 1px solid black;
  border-radius: 2px;
  font-weight: normal;
  font-size: 9pt;
  text-align: left;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap; /* Firefox */
  width: 200px;
}

.course-info-popup p {
  margin: 0;
  padding: 3px;
}
