/*
 * Style for the course list view.
 */

.course-list-container {
  position: relative;
  width: 100%;
  height: 100%;
  border: 5px solid #a31818;
  border-radius: 3px;
}

/* Fix the position of the header */
.course-list-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
}

.course-list-header th {
  height: 25px;
  border-bottom: 1px solid black;
}

/* Fix the position of the body */
.course-list-body-container {
  position: absolute;
  top: 25px;
  left: 0px;
  width: 100%;
  height: calc(100% - 25px);
  overflow-y: scroll;
}

/* Set column widths */
.course-list-delete-column {
  width: 20px;
}

.course-list-name-column {
  padding-left: 5px;
  width: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.course-list-autumn-column,
.course-list-winter-column,
.course-list-spring-column {
  width: 40px;
}

.course-list-section-column,
.course-list-status-column {
  width: 80px;
  text-align: center;
}

/* Set up the course list table */
.course-list-body-table {
  table-layout: fixed;
  width: 100%;
}
.course-list-body {
  border-spacing: 0px;
  border-collapse: collapse;
}

/* 30 px row height */
.course-list-body td {
  height: 30px;
  background-color: white;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/*
 * Layout for the individual class rows.
 */

.course-list-no-courses-row {
  font-style: italic;
  text-align: center;
}

/* Center check boxes */
.course-list-autumn-column,
.course-list-winter-column,
.course-list-spring-column {
  padding-top: 2px;
  text-align: center;
  vertical-align: middle;
}

.course-list-status-column {
  text-align: center;
}

/* These checkboxes are gonna look like shit on Firefox... */
.course-list-autumn-column input[type=checkbox],
.course-list-winter-column input[type=checkbox],
.course-list-spring-column input[type=checkbox] {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background-color: #f2a6a6; /* Light red color */
  outline: 1px solid black;
}

.course-list-autumn-column input[type=checkbox]:checked,
.course-list-winter-column input[type=checkbox]:checked,
.course-list-spring-column input[type=checkbox]:checked {
  background-color: #a9ec6b; /* 'Enrolled' color */
}

.course-list-autumn-column input[type=checkbox]:disabled,
.course-list-winter-column input[type=checkbox]:disabled,
.course-list-spring-column input[type=checkbox]:disabled {
  background-color: #ddd; /* Grayed out color */
}

.course-list-delete-column img {
  display: block;
  margin: auto;
  padding-left: 1px;
}
