/*
 * Style for the enrollplandrop widgit.
 */

.enroll-plan-drop-text:hover {
  text-decoration: underline;
}

.enroll-plan-drop-left-arrow {
  float: left;
  padding-left: 4px;
}

.enroll-plan-drop-right-arrow {
  float: right;
  padding-right: 4px;
}

.enroll-plan-drop-arrow:hover {
  text-shadow: 1px 1px 1px #ddd,
               -1px -1px 1px #ddd,
               1px -1px 1px #ddd,
               -1px 1px 1px #ddd;
}

.enroll-plan-drop-disabled {
  color: #ddd;
}

.enroll-plan-drop-disabled:hover {
  text-shadow: 0 0 0 white;
}

