/* Style for the class information viewer */

.info-container {
  position: absolute;
  margin: 8px;
  top: 0;
  left: 0;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  overflow-y: scroll;
}

.info-number {
  display: inline-block;
  font-size: 19pt;
  font-weight: bold;
  border-bottom: 3px solid #a31818;
}

.info-title {
  display: inline-block;
  font-size: 19pt;
  border-bottom: 1px solid #a31818;
}

.info-description {
  font-size: 13pt;
  text-align:justify;
}

.info-gers {

}

.info-container hr {
  background-color: #a31818;
  height: 1px;
  border: none;
}

.info-button {
  outline: none;
  border: 1px solid black;
  height: 24px;
  width: 100px;
  font-family: "HelveticaNeue-Light",
               "Helvetica Neue Light",
               "Helvetica Neue",
                Helvetica, Arial,
               "Lucida Grande",
                sans-serif;
  font-size: 12pt;
  margin-top: 3px;
  margin-bottom: 3px;
}

.info-enroll        { background-color: #a9ec6b; }
.info-enroll:hover  { background-color: #cbf3a5; }
.info-enroll:active { background-color: #75d51c; }
.info-plan          { background-color: #78ccf1; }
.info-plan:hover    { background-color: #b5e3f7; }
.info-plan:active   { background-color: #1ca9e8; }
.info-drop          { background-color: #f2a6a6; }
.info-drop:hover    { background-color: #f9d3d3; }
.info-drop:active   { background-color: #eb7979; }
