/*
 * Minimal CSS for a MeetingDisplay object
 */

.meeting-display-box {
  position: absolute;
  border: 1px solid black;
  border-radius: 2px;
  width: 71px;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.meeting-display-box.meeting-display-enrolled {
  background-color: #a9ec6b;
}

.meeting-display-box.meeting-display-planned {
  background-color: #61c3ef;
}
