/*
 * Minimal CSS for a MeetingDisplay object
 */

.meeting-display-box {
  position: absolute;
  border: 1px solid black;
  border-radius: 2px;
  text-align: center;
  white-space: nowrap;
}

.meeting-display-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  vertical-align: middle;
  overflow: hidden;
  direction: rtl;
}

.meeting-display-box.meeting-display-enrolled {
  background-color: #a9ec6b;
}

.meeting-display-box.meeting-display-planned {
  background-color: #61c3ef;
}
