/*
 * Style for the schedule preivew.
 */

.preview-view-third {
  width: 32%;
  float: left;
}

.preview-view-left {
  margin-right: 1%;
}

.preview-view-middle {
  margin-right: 1%;
  margin-left: 1%;
}

.preview-view-right {
  margin-left: 1%;
}

.preview-view-header {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.preview-view-quarter {
  font-size: 24pt;
  float: left;
}

.preview-view-units {
  font-size: 24pt;
  float: right;
}
