/*
 * Style for the instant search box.
 */

.search-box-container {
  position: relative;
  float: right;
  height: 40px;
}

.search-box-input {
  vertical-align: top;
  color: black;
  font-size: 22px;
  font-weight: bold;
  height: 40px;
  width: 350px;
  border: 5px solid #8c1515;
  border-radius: 3px;
  padding-left: 5px;
  outline: 0;
}

.search-box-input::-webkit-input-placeholder {
  font-weight: normal;
}

.search-box-input:-moz-input-placeholder {
  font-weight: normal;
}

.search-box-elements-container {
  width: 332px;
  overflow: hidden;
}

.search-box-elements {
  max-height: 600px;
  position: absolute;
  overflow: auto;
}

.search-box-result {
  border: 1px;
  border-top: 0px;
  border-style: solid;
  border-color: #8c1515;
  background-color: white;
  height: 31px;
  width: 330px;
  font-size: 20px;
  padding: 3px;
  padding-bottom: 8px;
  margin-right: 20px; /* For the scrollbars */
  position: relative;
  left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}

.search-box-result.search-box-result-selected {
  background: #f2a6a6;
}

.search-box-result.search-box-result-selected:hover {
  background: #f2a6a6;
}

.search-box-result:hover {
  background: #ddd;
}
